<div> Welcome <%= current_user.email %></div>
<%= render 'constant/banner' %>

<h3>Currently enrolled courses</h3>
<% if current_user.courses.empty? %>
  <p>Currently in no enrolled classes!</p>
<% else %>
  <ul>
    <% current_user.courses.each do |course| %>
      <li>
      	<%= course.title %>
      	<%= button_to('Unenroll from course', {action: :unenroll_course, course_name: course.title}, data: { confirm: 'Are you sure?' }) %>
  	  </li>
    <% end %>
  </ul>
<% end %>
<center id="signUp"><%= button_to "Sign out", destroy_user_session_path, method: :delete %></center>