<h1>Calendar</h1>
<div>
  <div class="calendar"></div>
</div>
<div id = "create_event_dialog" class="dialog" style ="display:none;"></div>
<div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>

<% current_user.courses.each do |course| %>
    <div class= <%= course.title %> >
      <input type="checkbox" checked="checked" name <%= course.title %> id=<%= course.title %> />
      <label for=<%= course.title %>> <%= course.title %> </label>
    </div>
<% end %>

<script type = 'text/javascript'>
      var course_objects = <%= raw current_user.courses.to_json %>;
      var course_titles = course_objects.map(function (object) {
          return object['title'];
      });

      var checked_courses = [];

      function update_checked_courses() {
          checked_courses = [];
          for (var x = 0; x < course_titles.length; x++) {
              var s = "#" + course_titles[x].toString();
              if ($(s).is(':checked')) {
                  checked_courses.push(course_titles[x]);
              }
          }
      }

      for (var x = 0; x < course_titles.length; x++) {
          var s = "#" + course_titles[x].toString();
          //Define the click function to redupate the checked courses
          $(s).click(function () {
              update_checked_courses();
              $('.calendar').fullCalendar('render');
          });
      }

      //Update the checked courses for the first initialization of everything
      update_checked_courses();

      calendar_options = {
          defaultView: "agendaWeek",
          dragOpacity: 0.5,
          editable: false,
          slotMinutes: 15,
          timeFormat: "h:mm t{ - h:mm t}",
          height: 500,
          header: {
              center: "title",
              left: "prev,next today",
              right: "month,agendaWeek,agendaDay"
          },
          eventClick: function (calEvent, jsEvent, view) {
              var group_id = calEvent.id;
              window.location.href = '/';
              window.location.href = '/studygroups/' + calEvent.description.split(",")[1];
          },
          eventRender: function (calEvent, element, view) {
              var date = new Date();
              for (y = 0; y < checked_courses.length; y++) {
                  if (calEvent.description.split(",")[0] == checked_courses[y]) {
                      if (calEvent.end <= date){
                          $(element).css("opacity", 0.2);
                      }
                      if (y == 0){
                          $(element).css("backgroundColor", "#0033FF");
                      }
                      else if (y == 1){
                          $(element).css("backgroundColor", "#990000");
                      }
                      else if (y == 2){
                          $(element).css("backgroundColor", "#99CC33");
                      }
                      else if (y == 3){
                          $(element).css("backgroundColor", "#CC00FF");
                      }
                      else if (y == 4){
                          $(element).css("backgroundColor", "#000090");
                      }
                      else if (y == 5){
                          $(element).css("backgroundColor", "#2233CC");
                      }
                      else if (y == 6){
                          $(element).css("backgroundColor", "#4400CC");
                      }
                      return true;
                  }
              }
              return false;
          },
          selectable: true,
          minTime: "08:00:00",
          maxTime: "24:00:00",
          allDaySlot: false,
          events: "/fullcalendar_engine/events/get_events"
      };

      $('.calendar').fullCalendar(calendar_options);
</script>


<%= link_to 'Create', new_studygroups_url %>