<div id='cssmenu'>
<ul>
  <li id="site_title"><%= link_to 'MeetMyClassMates', root_path %></li>
  <li class='active has-sub title' ><a href='#'>My Study Groups</a>
    <ul>
      <% if current_user.studygroups.empty? %>
        <li> You're not in any study groups</li>
      <% else %>
        <%current_user.studygroups.each do |studygroup| %>
          <li class='last'><%= link_to studygroup.name, studygroup_show_path(studygroup) %></li>
        <% end %>
      <% end %>
    </ul>
  </li>  

  <li class='active has-sub' id='setting'><a href='#'><span style="line-height: 20px"><%= current_user.email %></span></a>
    <ul id="drop_down">
      <li class='last topRight' id="create_group"><%= link_to 'Create New Group', new_studygroups_url %></li>
      <li class='last topRight' id="user_page"><%= link_to 'User Page', user_show_path(current_user) %></li>
      <li class='last topRight' id="sign_out"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </li>
</ul>
</div>



