<!-- <div id="top-bar">
  <ul><li><p id="site-title">MeetMyClassmates</p><li></ul>
  <% if user_signed_in? %>
    <div id="username"><%= current_user.email %>
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  <% end %>
</div> -->
<!-- <div id= "top-bar">

</div> -->
<div id='cssmenu'>
<ul>
  <li><a href='#'><span>MeetMyClassMates</span></a></li>
  <li class='active has-sub' id='setting'><a href='#'><span><%= current_user.email %></span></a>
    <ul>
      <li class='last' id ="topRight"><%= link_to 'User Page', user_show_path(current_user) %></li>
      <li class='last' id="topRight"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </li>
  <li class='active has-sub' id='setting'><a href='#'><span>Contact</span></a>
    <ul style="z-index: 10000">
      <li class='last'><a href='#'><span>Alice Wang</span></a></li>
      <li class='last'><a href='#'><span>Art Siriwatt</span></a></li>
      <li class='last' style="z-index: 10000"><a href='#'><span>Deepak Kumar</span></a></li>
      <li class='last' style="z-index: 10000"><a href='#'><span>Lawrence Supian</span></a></li>
    </ul>
  </li>
</ul>
</div>



<ul id="side-bar">
  <li class="title"><%= link_to 'Home', root_path %></li>

  <br>

  <li class="title">My Study Groups</li>
  <li class="sub-title">CS170 HWs</li>
  <li class="sub-title">CS169 Project</li>

  <br>

  <li class="title">Unscheduled Groups</li>
  <li class="sub-title">CS162 MT1</li>
  <li class="sub-title">CS168 MT2</li>
</ul>


