<!DOCTYPE html>
<html>
<head>
  <title>MeetMyClassmates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- Don't delete for debugging purpose -->
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
    <%= render :partial => 'layouts/constant' %>
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
