<!DOCTYPE html>
<html>
<head>
  <title>MeetMyClassmates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render :partial => 'layouts/constant' %>

  <div id="main">
    <% if flash[:success] %>
      <p class="notification success"><%= flash[:success] %></p>
    <% end %>

    <% if flash[:error] %>
      <p class="notification error"><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
