<!DOCTYPE html>
<html>
<head>
  <title>MeetMyClassmates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="navbar-text pull-right"></p>
  <% if current_user %>
  	<%= render :partial => 'constant/topbar'%>
  <% else %>
  	<p>hahahahaha</p>
  <% end %>
  <!--< render :partial => 'constant/banner'  -->

<%= yield %>

</body>
</html>
