<!DOCTYPE html>
<html>
<head>
  <title>MeetMyClassmates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if !(notice.blank?) || !(alert.blank?) %>
    <center><div class='main-notifications'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
   </div></center>
 <% end %>
    <%= render :partial => 'layouts/constant' %>
  <div id="main">
    <% if flash[:success] %>
      <p class="notification success">
        <% flash[:success].each do |msg| %>
          <%= "Success: #{msg}<br>".html_safe %>
        <% end %>
      </p>
    <% elsif flash[:error] %>
      <p class="notification error">
        <% flash[:error].each do |msg| %>
          <%= "Error: #{msg}<br>".html_safe %>
        <% end %>
      </p>
    <% end %>

    <%= yield %>
  </div>
  <div style="clear:both"></div>

</body>
</html>
